<div class="wrapper">
  <span>Name: {{details?.name| json}}</span>
  <span>Created: {{details?.created| json}}</span>
  <span>Edited: {{details?.edited| json}}</span>
  <span>Birth Year: {{details?.birth_year| json}}</span>
  <span>Eye Color: {{details?.eye_color| json}}</span>
  <span>Hair Color: {{details?.hair_color| json}}</span>
  <span>Skin Color: {{details?.skin_color| json}}</span>
  <span>Height: {{details?.height| json}}</span>
  <span>Mass: {{details?.mass| json}}</span>

  <button mat-flat-button routerLink="/home">back</button>


</div>
