<div class="wrapper">
  @if (details$ | async; as details){
    <h1>{{ details.name }}</h1>
    <div class="detail-container">
      <!--   TODO I thin it would not be nice for a user to see -> Name: undefined  -->
      <!--   TODO lets add a default value  details?.name || '' or something like that  -->
      <span>Name: </span>
      <span>{{ details?.name }}</span>
    </div>
    <div class="detail-container">
      <span>Created: </span>
      <span>{{ details?.created }}</span>
    </div>
    <div class="detail-container">
      <span>Edited: </span>
      <span>{{ details?.edited }}</span>
    </div>
    <div class="detail-container">
      <span>Birth Year: </span>
      <span>{{ details?.birth_year }}</span>
    </div>
    <div class="detail-container">
      <span>Eye Color: </span>
      <span>{{ details?.eye_color }}</span>
    </div>
    <div class="detail-container">
      <span>Hair Color: </span>
      <span>{{ details?.hair_color }}</span>
    </div>
    <div class="detail-container">
      <span>Skin Color: </span>
      <span>{{ details?.skin_color }}</span>
    </div>
    <div class="detail-container">
      <span>Gender: </span>
      <span>{{ details?.gender }}</span>
    </div>
    <div class="detail-container">
      <span>Height: </span>
      <span>{{ details?.height }}</span>
    </div>
    <div class="detail-container">
      <span>Mass: </span>
      <span>{{ details?.mass }}</span>
    </div>
    <div class="detail-container">
      <span>Home World: </span>
      <!-- TODO no need this.planetId could be just planetId-->
      <button mat-stroked-button (click)="onHomeClick(planetId)">{{ details?.homeworld }}</button>
    </div>
    <button class="back-button" mat-stroked-button routerLink="/characters">Back</button>
  }
  <div class="loading">
    @if (isAppLoading) {
      <mat-spinner></mat-spinner>
    }
  </div>
</div>
