<h1>Star Wars StarShips</h1>
<!--   TODO: probably better wrap it with if in case you don't have any starships -> to not show load more button-->
<div class="wrap">
  <div class="container">
    @for (ship of starShips; track ship.uid) {
      <app-item-card
        [id]="ship?.uid"
        [displayName]="ship?.name"
        [navigateTo]="RouterLinks.STAR_SHIPS"
      ></app-item-card>
    }
  </div>
  <div class="load-more">
    @if (!isApploading && isLoadMoreAvailable) {
      <button class="load" mat-stroked-button (click)="LoadMore()">Load More Characters</button>
    }

    @if (isApploading) {
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>
