@use '@angular/material' as mat;
@include mat.core();
button{
  width: 400px;
  background-color: transparent;

}
.characters{
  display: inline-block;
  flex-direction: column;
  justify-items: center;
  height: 110%;
  padding: 100px 20px 20px 110px;
  font-size: 15pt;

}


