<h1>Star Wars: Planets</h1>
<div class="wrap">
  <div class="container">
    @for (planet of planets; track planet.uid) {
      <app-item-card
        [id]="planet?.uid"
        [displayName]="planet?.name"
        [navigateTo]="RouterLinks.PLANETS"
      ></app-item-card>
    }
  </div>
  <div class="load-more">
    @if (!isApploading && isLoadMoreAvailable) {
      <button class="load" mat-stroked-button (click)="LoadMore()">Load More Planets</button>
    }

    @if (isApploading) {
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>
