//TODO h1 should have more specific selector like .title also spacing between selectors
h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 12px;
}

.load-more {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.wrap {
  justify-items: center;
}

.loading {
  display: flex;
  justify-content: center;
}

label {
  border: 1px solid grey;
  border-radius: 100px;
  padding: 10px;
}
