/* sizes */
$extra-small: 4px;
$small: 8px;
$small-plus: 12px;
$medium: 16px;
$medium-plus: 24px;
$large: 32px;
$large-plus: 40px;
$extra-large: 48px;
//TODO $padding should have more specific name like $padding-small or $padding-large ...

