<!-- TODO -->
<nav class="items-container" mat-tab-nav-bar [tabPanel]="tabPanel">
  <div class="items">
    <!--    TODO I don't think we need a <label></label>-->
    <a mat-tab-link [routerLink]="'/' + RouterLinks.CHARACTERS" routerLinkActive>
      Star Wars Characters
    </a>
    <a mat-tab-link [routerLink]="'/' + RouterLinks.PLANETS">Star Wars Planets</a>
    <a mat-tab-link [routerLink]="'/' + RouterLinks.STAR_SHIPS">Star Wars StarShips</a>
  </div>
</nav>

<div>
  <!--TODO-->
  <!-- tabpanel should be camel case tabPanel -->
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <router-outlet />
</div>
