.items-container {
  .items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    a {
      width: 200px;
      transition: 1s;
      --mat-tab-header-inactive-label-text-color: yellow;

      &:hover {
        // TODO could be replaced with variables
        font-size: 20pt;
        --mat-tab-header-inactive-hover-label-text-color: yellow;
      }
    }
  }
}
