@use 'variables';

.items-container {
  .items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    a {
      width: 200px;
      transition: 1s;
      --mat-tab-header-inactive-label-text-color: yellow;

      &:hover {
        font-size: variables.$large-font-size;
        --mat-tab-header-inactive-hover-label-text-color: yellow;
      }
    }
  }
}
