@use 'variables';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: variables.$medium-plus;
  // TODO could be replaced with variables
  gap: variables.$small-plus;
  text-align: center;
}

// TODO more specific selector like .title
