<div class="wrapper">
  @if (planetDetails$ | async; as details){
    <h1>{{ details.name }}</h1>
    <div class="detail-container">
      <!--   TODO I thin it would not be nice for a user to see -> Name: undefined  -->
      <!--   TODO lets add a default value  details?.name || '' or something like that  -->
      <span>Name: </span>
      <span>{{ details?.name }}</span>
    </div>
    <div class="detail-container">
      <span>Created: </span>
      <span>{{ details?.created }}</span>
    </div>
    <div class="detail-container">
      <span>Edited: </span>
      <span>{{ details?.edited }}</span>
    </div>
    <div class="detail-container">
      <span>Birth Year: </span>
      <span>{{ details?.climate }}</span>
    </div>
    <div class="detail-container">
      <span>Eye Color: </span>
      <span>{{ details?.diameter }}</span>
    </div>
    <div class="detail-container">
      <span>Hair Color: </span>
      <span>{{ details?.gravity }}</span>
    </div>
    <div class="detail-container">
      <span>Skin Color: </span>
      <span>{{ details?.orbital_period }}</span>
    </div>
    <div class="detail-container">
      <span>Gender: </span>
      <span>{{ details?.population }}</span>
    </div>
    <div class="detail-container">
      <span>Height: </span>
      <span>{{ details?.rotation_period }}</span>
    </div>
    <div class="detail-container">
      <span>Mass: </span>
      <span>{{ details?.surface_water }}</span>
    </div>
      <button mat-stroked-button routerLink="/characters">Go to Home Page</button>
      <button class="back-button" mat-stroked-button (click)="goBack()">Back to Characters or Planet</button>
  }
  <div class="loading">
    @if (isApploading) {
      <mat-spinner></mat-spinner>
    }
  </div>
</div>


