<h1>{{ShipDetails?.model}}</h1>

<div class="wrapper">
  <span>Model: {{ShipDetails?.model}}</span>
  <span>Manufacturer: {{ShipDetails?.manufacturer}}</span>
  <span>Cost in Credits: {{ShipDetails?.cost_in_credits}}</span>
  <span>Cargo Capacity: {{ShipDetails?.cargo_capacity}}</span>
  <span>Length: {{ShipDetails?.length}}</span>
  <span>Class: {{ShipDetails?.starship_class}}</span>
  <span>HyperDrive Rating: {{ShipDetails?.hyperdrive_rating}}</span>
  <span>Max atmospheric Speed: {{ShipDetails?.max_atmosphering_speed}}</span>
  <span>MGLT: {{ShipDetails?.MGLT}}</span>
  <span>Consumables: {{ShipDetails?.consumables}}</span>
  <span>Passengers: {{ShipDetails?.passengers}}</span>
  <span>Pilots: {{ShipDetails?.pilots}}</span>
  <span>Crew: {{ShipDetails?.crew}}</span>
  <span>Created: {{ShipDetails?.created}}</span>
  <span>Edited: {{ShipDetails?.edited}}</span>

  <button mat-flat-button routerLink="/home">Go to Home Page</button>
  <button mat-flat-button routerLink="/starships">Go to StarShips Page</button>
</div>
