.contain{
  justify-items: center;
  padding-bottom: 30px;
}
h1{
  text-align: center;
}
.ships{
  columns: 2;
  padding: 0 20px 50px 10px;
  text-align: center;
}
button{
  width: 400px;
}
span{
  display: inline-block;
  padding: 30px 0 20px 0;
  font-size: 15pt;
  width: 100%;
}


