<h1>Star Wars StarShips</h1>
<div class="contain">
  <div class="ships">
    @for (ships of starships; track $index) {
      <div>
        <span>{{ships.name}}</span>
        <button mat-stroked-button  routerLinkActive="active" (click)="ShowDetails(starships[$index].uid)">Details</button>
      </div>
    }
  </div>
  <div>
    @if (isApploading) {
      <mat-spinner ></mat-spinner>
    }
  </div>
  <div class="load">
    @if (!this.starWarsService.getShipLimit()){
      <button mat-stroked-button (click)="LoadMore()">Load More StarShips</button>
    } @else {
      <label>You Have Reached The Maximum StarWars StarShips that are available</label>
    }
  </div>

</div>
